<span data-target="#answersNeeded">{{answers_needed}}
<script>require(['jquery'], function (jQ) {
    if (jQ('#T_soundGridHolder').hasClass('locked')) {
        jQ('#answerCounter').fadeIn();
    }

});</script>
</span>