<div id="gameover" class="modal fade" data-target="body" data-add="self" data-mode="append-update" tabindex="-1" aria-labelledby="gameoverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header hstack gap-2">
                <h1 class="modal-title fs-2 flex-1" id="gameoverModalLabel">Game Over!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="gameoverContent">
                    {{#if ranking}}
                        <div id="student-podium" class="p{{ranking}}">
                            <div class="place-img{{#gt ranking 3}} good-try{{/gt}}"></div>
                            <span class="ranking">{{ordinalize ranking}} place</span>
                        </div>
                    {{else}}
                        <div id="student-podium">
                            <div class="place-img good-try"></div>
                            <span class="ranking">No score</span>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <script>
        require(['jquery', 'app/player', 'event_types'], function (jQ, Player, Events) {

            let socket = Player.getConnection();
            let goModal = jQ('#gameover');
            let leaderboard = jQ('#leaderboard');

            socket.once(Events.QUESTION_READY, function () {
                goModal.modal('hide');
            });

            goModal.one('hidden.bs.modal', event => {
                goModal.remove();
            });

            if (leaderboard.hasClass('show')) {
                leaderboard.one('hidden.bs.modal', event => {
                    goModal.modal('show');
                }).modal('hide');
            } else {
                goModal.modal('show');
            }

        });
    </script>

</div>
