<div id="groupScores" class="scores-update">
    <div class="vstack gap-3">
        {{#each groups}}
            <div class="score-row d-flex px-3 py-2">
                <div class="score-name flex-1" data-name="{{id}}">{{id}}</div>
                {{#if ../winner}}
                    {{#eq ../winner.id id}}
                        <i class="icon-crown round-winner"></i>
                    {{/eq}}
                {{/if}}
                <div class="score-value">{{points}}</div>
            </div>
        {{/each}}
    </div>
    <script>
        require(['jquery', 'app/player'], function (jQ, Player) {
            jQ(`#leaderboardContent .score-name[data-name="${Player.getPlayer().group}"]`).parent().addClass('highlighted-row');
        });
    </script>
</div>