<div id="groupScores" class="modal-inner-content">
	<h1>Group Scores</h1>
    <div class="modal-scroll-container">
        <div class="score-holder well">
            {{#each groups}}
                <div class="score-row">
                    <div class="score-name">{{id}}</div>
                    {{#if ../winner}}
                        {{#eq ../winner.id id}}
                            <i class="icon-crown round-winner"></i>
                        {{/eq}}
                    {{/if}}
                    <div class="score-value">{{points}}</div>
                </div>
            {{/each}}
        </div>
    </div>
</div>