<div id="groupScores">
	<h1>Group Scores</h1>
	{{#each groups}}
		<div class="score-row">
			<div class="score-name">{{id}}</div>
			<div class="score-value">{{points}}</div>
		</div>
	{{/each}}
</div>