<div id="groupScores" class="modal-inner-content">
	<h1>Group Scores</h1>
    <div class="modal-scroll-container">
        <div class="score-holder">
            {{#each groups}}
                <div class="score-row">
                    <div class="score-name" data-name="{{id}}">{{id}}</div>
                    {{#if ../winner}}
                        {{#eq ../winner.id id}}
                            <i class="icon-crown round-winner"></i>
                        {{/eq}}
                    {{/if}}
                    <div class="score-value">{{points}}</div>
                </div>
            {{/each}}
        </div>
    </div>
    <script>
        require(['jquery', 'app/player'], function (jQ, Player) {
            jQ(`#leaderboardContent .score-name[data-name="${Player.getPlayer().group}"]`).parent().addClass('highlighted-row');
        });
    </script>
</div>