{{#each players}}
	<div class="player-row">
		<div class="player-name">{{_name}}</div>
		<button class="player-value icon-cancel kick-btn" data-user="{{id}}"></button>
	</div>
{{/each}}
<script>
	require(['jquery', 'app/view_sound_grid'], function (jQ, view_sound_grid) {

		jQ('#playerListContent .kick-btn').click(function () {
			view_sound_grid.kickPlayer(jQ(this).attr('data-user'));
		});

	});
</script>