<div id="leaderboard" class="modal-popup">
	<div class="modal-black"></div>
	<div id="leaderboardContent" class="modal-popup-content">
		{{> leaderboard_content}}
		<button id="closeLeaderboardBtn" class="modal-close-btn icon-cancel"></button>
	</div>
</div>
