<div id="playerScores">
	<h1>Player Scores</h1>
	<div class="score-holder">
		{{#each players}}
			{{#with this}}
				<div class="score-row" {{#if ../winner}}{{#eq ../winner.name name}}style="order:-1 !important;"{{/eq}}{{/if}}>
					<div class="score-name">{{name}}</div>
					{{#if ../winner}}
						{{#eq ../winner.name name}}
							<i class="icon-crown round-winner"></i>
						{{/eq}}
					{{/if}}
					<div class="score-value">{{points}}</div>
				</div>
			{{/with}}
		{{/each}}
	</div>
</div>