<div id="playerList">
	<div class="modal-black"></div>
	<div id="playerListContentHolder">
		<h1>Current Players</h1>
		{{> player_list_content}}
		<button id="closePlayerListBtn" class="icon-cancel"></button>
	</div>
</div>