<div id="playerScores">
	<h1>Player Scores</h1>
	{{#each players}}
		<div class="score-row">
			<div class="score-name">{{name}}</div>
			<div class="score-value">{{points}}</div>
		</div>
	{{/each}}
</div>