<div id="playerScores" class="modal-inner-content">
    <div class="vstack gap-3">
        {{#if players}}
            {{#each players}}
                {{#with this}}
                    <div class="score-row d-flex px-3 py-2" {{#if ../winner}}{{#eq ../winner.name name}}style="order:-1 !important;"{{/eq}}{{/if}}>
                        <div class="score-name flex-1" data-name="{{name}}">{{name}}</div>
                        {{#if ../winner}}
                            {{#eq ../winner.name name}}
                                <i class="icon-crown round-winner"></i>
                            {{/eq}}
                        {{/if}}
                        <div class="score-value">{{points}}</div>

                    </div>
                {{/with}}
            {{/each}}
        {{else}}
            <div class="no-data-container">
                <img src="/static/img/no_data.svg" class="mh-100 mb-3 w-25"/>
                <span class="no-data-title">No scores!</span>
            </div>
        {{/if}}
    </div>
    <script>
        require(['jquery', 'app/player'], function (jQ, Player) {
            jQ(`#leaderboardContent .score-name[data-name="${Player.getPlayer().name}"]`).parent().addClass('highlighted-row');
        });
    </script>
</div>