<div id="playerList" class="modal-popup">
	<div class="modal-black"></div>
	<div id="playerListContentHolder" class="modal-popup-content">
		<h1>Current Players</h1>
        <div class="modal-scroll-container">
            {{> player_list_content}}
        </div>
		<button id="closePlayerListBtn" class="modal-close-btn icon-cancel"></button>
	</div>
</div>