<div id="reconnecting" class="modal-popup">
	<div class="modal-black"></div>
	<div id="reconnectingContent" class="modal-popup-content">
        <h4 style="margin: 0;">Reconnecting (再接続中)...</h4>
	</div>
</div>
