<div id="settings" class="modal-popup">
	<div class="modal-black"></div>
	<div id="settingsContent" class="modal-popup-content">
		<h1>Settings</h1>
		<div class="options-holder">
			<div>
				<label>Show Popup Scoreboard</label>
				<button id="showScoreboardBtn" class="btn btn-primary icon-award"></button>
			</div>
			<div>
				<label>Play sound on students' devices.</label>
				<label class="switch">
					<input id="studentsPlaySound" name="studentsPlaySound" type="checkbox">
					<span class="slider round"></span>
				</label>
			</div>
			<div>
				<label>Disable sound on teacher's device.</label>
				<label class="switch">
					<input id="disableMainSound" name="disableMainSound" type="checkbox">
					<span class="slider round"></span>
				</label>
			</div>
			<div>
				<label>Choose Vowel Labels</label>
				<button id="showVowelLabelsBtn" class="btn btn-primary icon-cog"></button>
			</div>
			<div>
				<label>Randomize Vowel Labels</label>
				<label class="switch">
					<input id="randomizeVowelLabels" name="randomizeVowelLabels" type="checkbox">
					<span class="slider round"></span>
				</label>
			</div>
            <div>
                <label>Randomize Vowel Button Positions</label>
                <label class="switch">
                    <input id="randomizeVowelPositions" name="randomizeVowelPositions" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <label>Enable Word Search Mode</label>
                <label class="switch">
                    <input id="enableWordSearchMode" name="enableWordSearchMode" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <label>Edit Word Lists</label>
                <button id="showWordListsEditorBtn" class="btn btn-primary icon-cog" disabled=""></button>
            </div>
		</div>
		<button id="closeSettingsBtn" class="modal-close-btn icon-cancel"></button>
	</div>

	<script>
		require(['jquery', 'app/view_sound_grid'], function (jQ, soundGrid) {

			let SERVER_PATH;

			require(['app/game'], function (game) {
				SERVER_PATH = game.SERVER_PATH;
			});

			jQ('#showScoreboardBtn').click(function () {
			    soundGrid.setScoreboard(window.open(SERVER_PATH + '/scoreboard/', '_blank', 'Scoreboard'));
			});

			jQ('#studentsPlaySound').click(function () {
			    soundGrid.setStudentsPlaySound(jQ('#studentsPlaySound').prop('checked'));
			});

			jQ('#disableMainSound').click(function () {
				soundGrid.setDisableMainSound(jQ('#disableMainSound').prop('checked'));
			});

			jQ('#showVowelLabelsBtn').click(function () {
			    soundGrid.openVowelLabelsSelector();
			});

			jQ('#randomizeVowelLabels').click(function () {
				soundGrid.setRandomizeVowelLabels(jQ('#randomizeVowelLabels').prop('checked'));
			});

            jQ('#randomizeVowelPositions').click(function () {
                soundGrid.setRandomizeVowelPositions(jQ('#randomizeVowelPositions').prop('checked'));
            });

            jQ('#enableWordSearchMode').click(function () {
                let enabled = jQ('#enableWordSearchMode').prop('checked')
                soundGrid.toggleWordSearchMode(enabled);
                jQ('#showWordListsEditorBtn').prop('disabled', !enabled);
            })

            jQ('#showWordListsEditorBtn').click(function () {
                soundGrid.openWordListEditor();
            });

		});
	</script>

</div>