<div id="settings">
	<div class="modal-black"></div>
	<div id="settingsContent">
		<div>
			<button id="showScoreboardBtn">Show Scoreboard</button>
		</div>
		<button id="closeSettingsBtn" class="icon-cancel"></button>
	</div>

	<script>
		require(['jquery'], function (jQ) {

			jQ('#showScoreboardBtn').click(function () {
			    window.open('http://localhost:5000/scoreboard/', 'Scoreboard');
			});

		});
	</script>

</div>