<div id="settings" class="modal fade" data-target="body" data-add="self" data-mode="append" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header hstack gap-2">
                <h1 class="modal-title fs-2 flex-1" id="settingsModalLabel">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vstack gap-4">
                <div class="vstack gap-4 card p-2">
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Show Popup Scoreboard</label>
                        <button id="showScoreboardBtn" class="btn btn-bkr-primary icon-award"></button>
                    </div>
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Play sound on students' devices.</label>
                        <label class="switch">
                            <input id="studentsPlaySound" name="studentsPlaySound" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Disable sound on teacher's device.</label>
                        <label class="switch">
                            <input id="disableMainSound" name="disableMainSound" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>

                <div class="vstack gap-4 card p-2">
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Enable Answer Timer</label>
                        <label class="switch">
                            <input id="enableAnswerTimer" name="enableAnswerTimer" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <label class="flex-1 form-label" for="timerLength">Timer length</label>
                        <input id="timerLength" disabled="" class="form-control text-center"
                               style="width: 3.75rem !important;" name="timerLength" type="number"
                               value="10" min="3" max="600"/>
                    </div>
                </div>

                <div class="vstack gap-4 card p-2">
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Enable Word Search Mode</label>
                        <label class="switch">
                            <input id="enableWordSearchMode" name="enableWordSearchMode" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Edit Word Lists</label>
                        <button id="showWordListsEditorBtn" class="btn btn-bkr-primary icon-cog" disabled="" data-bs-toggle="modal" data-bs-target="#wordListEditor"></button>
                    </div>
                </div>

                <div class="vstack gap-4 card p-2">
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Choose Vowel Labels</label>
                        <button id="showVowelLabelsBtn" class="btn btn-bkr-primary icon-cog" data-bs-toggle="modal" data-bs-target="#vowelSelector"></button>
                    </div>
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Randomize Vowel Labels</label>
                        <label class="switch">
                            <input id="randomizeVowelLabels" name="randomizeVowelLabels" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="d-flex align-items-center">
                        <label class="flex-1">Randomize Vowel Button Positions</label>
                        <label class="switch">
                            <input id="randomizeVowelPositions" name="randomizeVowelPositions" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>

                <div id="gameModeOptions" class="d-flex flex-column align-items-center card p-2">
                    <label class="flex-1 mb-3">Change Game Mode</label>
                    <div class="d-flex align-items-center justify-content-center">
                        {{#eq roomType "individual"}}
                            <input type="radio" class="btn-check" name="gameMode" id="switchToIndividualSpeed"
                                   {{#eq individualType "individualSpeedBased"}}checked{{/eq}} autocomplete="off" value="individualSpeedBased">
                            <label class="btn btn-bkr-secondary icon-stopwatch d-flex flex-column justify-content-center align-items-center" for="switchToIndividualSpeed">Speed</label>

                            <input type="radio" class="btn-check" name="gameMode" id="switchToIndividualScore"
                                   {{#eq individualType "individualScoreBased"}}checked{{/eq}} autocomplete="off" value="individualScoreBased">
                            <label class="btn btn-bkr-secondary icon-target d-flex flex-column justify-content-center align-items-center ms-3" for="switchToIndividualScore">Score</label>
                        {{/eq}}

                        {{#eq roomType "group"}}
                            {{#eq groupType "oneForAll"}}
                                <input type="radio" class="btn-check" name="gameMode" id="switchToOFASpeed"
                                       {{#eq ofaType "OFASpeedBased"}}checked{{/eq}} autocomplete="off" value="OFASpeedBased">
                                <label class="btn btn-bkr-secondary icon-stopwatch d-flex flex-column justify-content-center align-items-center" for="switchToOFASpeed">Speed</label>

                                <input type="radio" class="btn-check" name="gameMode" id="switchToOFAScore"
                                       {{#eq ofaType "OFAScoreBased"}}checked{{/eq}} autocomplete="off" value="OFAScoreBased">
                                <label class="btn btn-bkr-secondary icon-target d-flex flex-column justify-content-center align-items-center ms-3" for="switchToOFAScore">Score</label>
                            {{/eq}}
                        {{/eq}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        require(['jquery', 'app/view_sound_grid'], function (jQ, soundGrid) {

            let SERVER_PATH;

            require(['app/game'], function (game) {
                SERVER_PATH = game.SERVER_PATH;
            });

            jQ('#showScoreboardBtn').click(function () {
                let scoreboard = window.open('/scoreboard/', '_blank', 'Scoreboard');
                scoreboard.opener = window;
                soundGrid.setScoreboard(scoreboard);
            });

            jQ('#studentsPlaySound').click(function () {
                soundGrid.setStudentsPlaySound(jQ('#studentsPlaySound').prop('checked'));
            });

            jQ('#disableMainSound').click(function () {
                soundGrid.setDisableMainSound(jQ('#disableMainSound').prop('checked'));
            });

            jQ('#randomizeVowelLabels').click(function () {
                soundGrid.setRandomizeVowelLabels(jQ('#randomizeVowelLabels').prop('checked'));
            });

            jQ('#randomizeVowelPositions').click(function () {
                soundGrid.setRandomizeVowelPositions(jQ('#randomizeVowelPositions').prop('checked'));
            });

            jQ('#enableAnswerTimer').click(function () {
                let enabled = jQ('#enableAnswerTimer').prop('checked');
                jQ('#timerLength').prop("disabled", !enabled);
                soundGrid.toggleAnswerTimerEnabled(enabled);
            });

            jQ("#timerLength").change(function () {
                if (this.checkValidity()) {
                    soundGrid.setTimerLength(Number(jQ(this).val()));
                } else {
                    alert("Please enter a number between 3 and 600.");
                    jQ('#timerLength').val(soundGrid.getTimerLength()).focus();
                }
            });

            jQ('#enableWordSearchMode').click(function () {
                let enabled = jQ('#enableWordSearchMode').prop('checked')
                soundGrid.toggleWordSearchMode(enabled);
                jQ('#showWordListsEditorBtn').prop('disabled', !enabled);
                jQ('#showVowelLabelsBtn, #randomizeVowelLabels, #randomizeVowelPositions').prop('disabled', enabled);
            })

            jQ('#gameModeOptions input').click(function () {
                soundGrid.changeGameMode(jQ('input[name="gameMode"]:checked').val());
            });

        });
    </script>
</div>
