<div id="T_soundGridHolder" class="{{#if locked}}locked{{/if}} container vowel-grid-holder">
    <button id="T_sound_A" data-sound="SHORT_A">/æ/</button>
    <button id="T_sound_AI" data-sound="LONG_A">/eɪ/</button>
    <button id="T_sound_E" data-sound="SHORT_E">/ɛ/</button>
    <button id="T_sound_EE" data-sound="LONG_E">/i/</button>
    <button id="T_sound_I" data-sound="SHORT_I">/I/</button>
    <button id="T_sound_IE" data-sound="LONG_I">/aɪ/</button>
    <button id="T_sound_O" data-sound="SHORT_O">/ɑ/</button>
    <button id="T_sound_OA" data-sound="LONG_O">/oʊ/</button>
    <button id="T_sound_U" data-sound="SHORT_U">/ʊ/</button>
    <button id="T_sound_UE" data-sound="LONG_U">/u/</button>
</div>