<div id="soundGridHolder" class="{{#if locked}}locked{{/if}} container">
	<div class="row">
		<div class="col-6">
			<button id="T_sound_A" data-sound="A">/æ/</button>
		</div>
		<div class="col-6">
			<button id="T_sound_AI" data-sound="AI">/eɪ/</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="T_sound_E" data-sound="E">/ɛ/</button>
		</div>
		<div class="col-6">
			<button id="T_sound_EE" data-sound="EE">/i/</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="T_sound_I" data-sound="I">/I/</button>
		</div>
		<div class="col-6">
			<button id="T_sound_IE" data-sound="IE">/aɪ/</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="T_sound_O" data-sound="O">/ɑ/</button>
		</div>
		<div class="col-6">
			<button id="T_sound_OA" data-sound="OA">/oʊ/</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="T_sound_U" data-sound="U">/ʊ/</button>
		</div>
		<div class="col-6">
			<button id="T_sound_UE" data-sound="UE">/u/</button>
		</div>
	</div>
</div>