<div id="answerTimer" class="{{#if disabled}}disabled{{/if}}" data-mode="update" data-add="self" style="display: none;">
    {{#unless disabled}}
        <style>
                {{{sass sassString}}}
        </style>
    {{/unless}}
</div>