<!-- TODO: PASS IN AN ARRAY AND THEN LOOP THROUGH TO CREATE BUTTONS. This will allow greater flexibility in terms of
number of buttons and position of buttons -->
{{# each buttons}}
    <button id="button{{@index}}" data-add="self" data-mode="update" data-sound="{{sound}}">{{label}}</button>
{{/each}}