<div id="S_soundGridHolder" class="{{#if locked}}locked{{/if}} container vowel-grid-holder">
{{> vowel_grid_labels }}
<script>
    require(["app/view_sound_grid_student"], function (soundGrid) {
        soundGrid.start();
    });
</script>
</div>