<div id="soundGridHolder" class="{{#if locked}}locked{{/if}} container">
	<div class="row">
		<div class="col-6">
			<button id="sound_A" data-sound="A">A</button>
		</div>
		<div class="col-6">
			<button id="sound_AI" data-sound="AI">AI</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="sound_E" data-sound="E">E</button>
		</div>
		<div class="col-6">
			<button id="sound_EE" data-sound="EE">EE</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="sound_I" data-sound="I">I</button>
		</div>
		<div class="col-6">
			<button id="sound_IE" data-sound="IE">IE</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="sound_O" data-sound="O">O</button>
		</div>
		<div class="col-6">
			<button id="sound_OA" data-sound="OA">OA</button>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<button id="sound_U" data-sound="U">U</button>
		</div>
		<div class="col-6">
			<button id="sound_UE" data-sound="UE">UE</button>
		</div>
	</div>
</div>