<div id="soundGridHolder" class="{{#if locked}}locked{{/if}}">
	<div class="section group">
		<div class="col span_1_of_2">
			<button id="sound_A" data-sound="A">A</button>
		</div>
		<div class="col span_1_of_2">
			<button id="sound_AI" data-sound="AI">AI</button>
		</div>
	</div>

	<div class="section group">
		<div class="col span_1_of_2">
			<button id="sound_E" data-sound="E">E</button>
		</div>
		<div class="col span_1_of_2">
			<button id="sound_EE" data-sound="EE">EE</button>
		</div>
	</div>

	<div class="section group">
		<div class="col span_1_of_2">
			<button id="sound_I" data-sound="I">I</button>
		</div>
		<div class="col span_1_of_2">
			<button id="sound_IE" data-sound="IE">IE</button>
		</div>
	</div>

	<div class="section group">
		<div class="col span_1_of_2">
			<button id="sound_O" data-sound="O">O</button>
		</div>
		<div class="col span_1_of_2">
			<button id="sound_OA" data-sound="OA">OA</button>
		</div>
	</div>

	<div class="section group">
		<div class="col span_1_of_2">
			<button id="sound_U" data-sound="U">U</button>
		</div>
		<div class="col span_1_of_2">
			<button id="sound_UE" data-sound="UE">UE</button>
		</div>
	</div>
</div>

<style>
	/*  SECTIONS  */
	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
	}
	.col:first-child { margin-left: 0; }

	/*  GROUPING  */
	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }

	/*  GRID OF TWO  */
	.span_2_of_2 {
		width: 100%;
	}
	.span_1_of_2 {
		width: 49.2%;
	}

	.locked button {
		pointer-events: none;
		cursor: not-allowed;
		background-color: dimgrey;
		user-select: none;
	}


	/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

	@media only screen and (max-width: 480px) {
		.col {
			margin: 1% 0 1% 0%;
		}
	}

	@media only screen and (max-width: 480px) {
		.span_2_of_2, .span_1_of_2 { width: 100%; }
	}


</style>