<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Outdated Browser</title>

    <style>
        .message-holder,body{width:100%;height:100%}body,html{height:100%;margin:0;padding:0}body{display:table;min-height:100%;background-color:#DDD;font-family:Roboto,sans-serif}.message-holder{display:table-cell;background-color:#FFF;text-align:center;vertical-align:middle}header{min-height:50px;background-color:#2196f3;box-shadow:0 3px 6px 1px #000;box-shadow:0 3px 6px 1px rgba(0,0,0,.5)}header h1{padding-top:4px;color:#FFF;text-shadow:1px 1px 1px #000}@media screen and (max-width:360px){header h1{padding-top:9px;font-size:25px}}
    </style>
</head>
<body>
<div class="message-holder">
    <header>
        <h1>Outdated browser!</h1>
    </header>
    <p style="margin: 1rem;">
        You are using an <strong>outdated</strong> browser.
        <br/><br/>
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
</div>
</body>
</html>