<div id="roomOptionsForm" data-target="#content" data-add="self" class="theme default setup-form" style="text-align: left;">
	<div class="form-content">
		<div class="inner-form">
			<p style="margin-bottom: 0;">Select a room type - Individual or Group</p>
			<input type="radio" class="radio" name="roomType" value="individual" id="typeIndividual" checked="" />
			<label for="typeIndividual" class="radio-label"></label>
			<input type="radio" class="radio" name="roomType" value="group" id="typeGroup" />
			<label for="typeGroup" class="radio-label"></label>
            <div style="margin-top: 0.5rem;">
                <input type="checkbox" class="checkbox" name="assignUsernames" id="assignUsernames" checked="" />
                <label for="assignUsernames">Auto-Assign Usernames</label>
            </div>
            <div class="individual-sub-options">
                <h6 style="margin-top: 1rem;">Individual Game Type:</h6>
                <input type="radio" class="radio" name="individualType" value="individualSpeedBased" id="individualSpeedBased" checked="" />
                <label   for="individualSpeedBased" style="margin-bottom: 0;">Speed Based</label>
                <input type="radio" class="radio" name="individualType" value="individualScoreBased" id="individualScoreBased"
                       style="margin-left:1.5rem;" />
                <label for="individualScoreBased" style="margin-right: 1rem;margin-bottom: 0;">Score Based</label>
            </div>
            <div class="group-sub-options">
                <input type="checkbox" class="checkbox" name="assignGroups" id="assignGroups" checked="" />
                <label for="assignGroups">Auto-Assign Groups</label>
                <h6 style="margin-top:0.5rem">Group Setup:</h6>
                <input type="radio" class="radio" name="groupSetup" value="auto" id="typeAuto" checked="" />
                <label for="typeAuto">Auto</label>
                <input type="radio" class="radio" name="groupSetup" value="custom" id="typeCustom" style="margin-left:1.5rem;" />
                <label for="typeCustom">Custom</label>
                <div class="default-group-options">
                    <input type="number" name="numStudents" min="4" placeholder="Number of Students" id="numStudents"
                           style="margin: 0.5rem 0;text-align: center;border-radius: 0.5rem;padding-bottom: 0.2rem;" />
                </div>
                <div class="custom-group-options">
                    <input type="number" name="numGroups" min="2" placeholder="Num. of Groups" id="numGroups"
                           style="margin: 0.5rem 0.5rem 0.5rem 0;text-align: center;" />
                    <input type="number" name="numPerGroup" min="2" placeholder="Group Size" id="numPerGroup"
                           style="margin: 0.5rem 0 0.5rem 0.5rem;text-align: center;"/>
                </div>
                <h6 style="margin-top: 0.5rem;">Group Game Mode:</h6>
				<div>
                    <input type="radio" class="radio" name="groupType" value="oneForAll" id="groupOneForAll" checked="" />
                    <label for="groupOneForAll" style="margin-bottom: 0;">One-for-all</label>
                    <input type="radio" class="radio" name="groupType" value="freeForAll" id="groupFreeForAll"
                           style="margin-left:1.5rem;" />
					<label for="groupFreeForAll" style="margin-bottom: 0;">Free-for-all</label>
                    <div class="ofa-options">
                        <h6 style="margin-top: 1rem;">One-For-All Game Type:</h6>
                        <input type="radio" class="radio" name="ofaType" value="OFASpeedBased" id="speedBased" checked="" />
                        <label   for="speedBased" style="margin-bottom: 0;">Speed Based</label>
                        <input type="radio" class="radio" name="ofaType" value="OFAScoreBased" id="scoreBased"
                               style="margin-left:1.5rem;" />
                        <label for="scoreBased" style="margin-right: 1rem;margin-bottom: 0;">Score Based</label>
                    </div>
                </div>
			</div>
			<p class="error-lbl">{{errorTxt}}</p>
		</div>
	</div>
	<input type="submit" id="submitRoomOptions" value="OK">
    <div id="roomOptionsHelp" class="modal-popup">
        <div class="modal-black"></div>
        <div id="roomOptionsHelpContentHolder" class="modal-popup-content">
            <h1>Room Options</h1>
            <div class="modal-scroll-container">
                <h3>Game Modes:</h3>
                <ul>
                    <li><b>Individual Mode:</b> In this mode, all of the players battle against each other. The first person
                    to answer correctly will be awarded points.</li>
                    <li><b>Group Mode:</b> In group mode, players can either work together and battle against other groups, or they
                    can battle the people within their own group.</li>
                </ul>
                <h3>Auto-Assign Options:</h3>
                <ul>
                    <li><b>Auto-Assign Usernames:</b> A school-friendly username will automatically be assigned to the student. Disable this
                    option if you want to allow the students to type in their own usernames.</li>
                    <li><b>Auto-Assign Groups:</b> Students will be automatically assigned to groups based on the order that they join the game.
                    Disable this option to allow students to manually select their group number.</li>
                </ul>
                <h3>Group Options:</h3>
                <ul>
                    <li><h5>Group Setup:</h5>
                        <span>You can let the computer automatically create/manage groups, or you can manually manage your groups.</span>
                        <ul>
                            <li><b>Auto</b> - The computer will make an appropriate number of groups based on the number of students
                                you have in your class. A class of 41 students will typically create 8 groups.</li>
                            <li><b>Custom</b> - You can choose the number of groups and the number of students per group.</li>
                        </ul>
                    </li>
                    <li><h5>Group Game Mode:</h5>
                        <ul>
                            <li><b>One-For-All</b> - Students work together in groups to battle other groups. However, only the <b><em>first</em></b> answer
                                from each group will be accepted.
                                <ul>
                                    <li><b>Speed Based Mode:</b> The first group to answer correctly wins that round and is awarded points.</li>
                                    <li><b>Score Based Mode:</b> All groups are able to respond and are awarded points based on quickly they answered compared
                                        to other groups.</li>
                                </ul>
                            </li>
                            <li><b>Free-For-All</b> - Students will battle the other students in their group. In this mode, each student must submit an
                                answer before the game will progress.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button id="closeRoomOptionsHelpBtn" class="modal-close-btn icon-cancel"></button>
        </div>
    </div>
    <script>
        require(['jquery'], function (jQ) {
            jQ('#roomOptionsHelp .modal-close-btn').click(function () {
                jQ(this).parents('.modal-popup').removeClass('open');
            });

            jQ('#roomOptionsHelp .modal-black').click(function () {
                jQ(this).parent().removeClass('open');
            });

            jQ('body').keypress(function (e) {
                if (e.keyCode === 27) {
                    jQ('#roomOptionsHelp .modal-black').parent().removeClass('open');
                }
            });

            jQ('#roomOptionsOpenHelpBtn').click(function (e) {
                jQ('#roomOptionsHelp').addClass('open');
            });
        });

    </script>
</div>

<div id="header">
    <div id="header-text">
        <h1>母音聞く練習 - Room Options</h1>
    </div>
    <button id="roomOptionsOpenHelpBtn" class="icon-btn icon-help-circled"></button>
</div>

