<div id="roomOptionsForm" data-target="#content" data-add="self" class="theme default">

	<h1>Select Room Type</h1>
	<input type="radio" class="radio" name="roomType" value="group" id="typeGroup" />
	<label for="typeGroup">Group</label>
		<div class="group-sub-options">
			<input type="number" name="numStudents" min="4" placeholder="Number of Students" id="numStudents" />
			<input type="radio" class="radio" name="groupType" value="freeForAll" id="groupFreeForAll" />
			<label for="groupFreeForAll">Free-for-all</label>
			<input type="radio" class="radio" name="groupType" value="allForOne" id="groupAllForOne" />
			<label for="groupAllForOne">All-for-one</label>
			<input type="checkbox" class="checkbox" name="assignGroups" id="assignGroups" />
			<label for="assignGroups">Auto-Assign Groups</label>
		</div>
	<input type="radio" class="radio" name="roomType" value="individual" id="typeIndividual" checked="" />
	<label for="typeIndividual">Individual</label>
	<input type="submit" id="submitRoomOptions">
	<p class="error-lbl">{{errorTxt}}</p>
</div>