<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>
	<script data-main="/static/js/app" src="/static/js/lib/require.js"></script>
	<link rel='stylesheet' href='/static/css/style.css' />
	<link rel='stylesheet' href='/static/css/boinkikurenshuu.css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<script>

		requirejs.config({
			"baseUrl": "/static/js/lib",
			"paths": {
				"app": "../app",
				"jquery": "./jquery-2.2.4.min",
				"handlebars": "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.amd.min",
				"bootstrap": "./bootstrap.bundle.min"
			}
		});

		define("event_types", [], function() {
			return {{{constants}}};
		});
	</script>

</head>

<body class="scoreboard">
	<div id="volatile"></div>
    <div id="questionFailed" class="modal-popup-content">
        <div class="modal-inner-content">
            <div class="modal-scroll-container">
                <div class="score-holder">
                    <div class="no-data-container">
                        <span class="no-data-title">Question Failed!</span>
                        <div class="place-img failed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="correctAnswer" class="modal-popup-content">
        <h1>Correct Answer:</h1>
        <div class="modal-inner-content">
            <div class="modal-scroll-container">
                <div class="score-holder" style="justify-content: center;">
                    <div class="podium-box">
                        <span class="podium-name" id="correctAnswerTxt"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
	require(['jquery', 'event_types', 'app/view_sound_grid'], function (jQ, Events, soundGrid) {
		let content = jQ('#leaderboardContent', opener.document);
		let socket = opener.getSocket();
		let failNotification = jQ('#questionFailed');
		failNotification.hide();
		let answerNotification = jQ('#correctAnswer');
		let answerTxt= jQ('#correctAnswerTxt');
		answerNotification.hide();
		let updateArea = jQ('#volatile');
		let update = function () {
			updateArea.empty().append(content[0].outerHTML);
		};

		let questionFailed = function () {
		    updateArea.fadeOut();
            failNotification.fadeIn();
		    setTimeout(function () {
		        failNotification.fadeOut();
		        updateArea.fadeIn();
                update();
            }, 4000);
        };

		let showAnswer = function (template, correctAnswer, points, wordSearchWord) {
		    updateArea.fadeOut();
		    let vowel_sound = soundGrid.VOWEL_LABELS[correctAnswer][0];
            let answerText = (wordSearchWord) ? `${vowel_sound} - ${wordSearchWord}` : vowel_sound;
		    answerTxt.text(answerText);
		    answerNotification.fadeIn();
            setTimeout(function () {
                answerNotification.fadeOut();
                updateArea.fadeIn();
                update();
            }, 4000);
        }

        let showPodium = function (template) {
		    let temp = jQ(template);
            updateArea.empty().append(temp.children().not('.modal-black'));
        }

		socket.on(Events.RENDER_TEMPLATE, update);
		socket.on(Events.QUESTION_FAILED, questionFailed);
		socket.on(Events.QUESTION_FINISHED, showAnswer);
		socket.on(Events.GAME_OVER, showPodium);

		update();
	});
</script>

</html>
