<div id="sound-grid-holder" data-target="body" data-add="self"
     class="w-100 h-100 bg-white d-flex flex-column align-items-center justify-content-center">
    <div id="sound-grid">
        <input type="hidden" value="{{roomID}}" id="roomIDVal"/>
        <div id="header">
            <img src="/static/img/logo.svg" class="mh-100 w-25 me-3"/>
            <h5 class="mb-0 flex-1 me-3">Room: {{roomID}}</h5>
            <div id="answerCounter">Still need <span id="answersNeeded"></span> answer(s).</div>
            <button id="helpBtn" class="icon-btn icon-help-circled" data-bs-toggle="modal" data-bs-target="#helpScreen"></button>
            <button id="settingsBtn" class="icon-btn icon-cog ms-3" data-bs-toggle="modal" data-bs-target="#settings"></button>
        </div>

        <div id="teacherBar">
            <button id="startBtn" class="icon-play"></button>
            <button id="endBtn" class="icon-stop" disabled="true"></button>
            <button id="playerListBtn" class="icon-users" data-bs-toggle="modal" data-bs-target="#playerList" data-player-count="0"></button>
            <button id="leaderboardBtn" class="icon-award" data-bs-toggle="modal" data-bs-target="#leaderboard"></button>
            <button id="replayBtn" class="icon-volume-up"></button>
            <button id="skipBtn" class="icon-forward"></button>
        </div>

        {{> teacher_vowel_grid}}

        {{> leaderboard}}

        {{> player_list}}

        {{> settings}}

        {{> vowel_selector}}

        {{> word_list_editor}}

        {{> help_information}}


        <div id="teacherTimer" style="display: none;">
            <div id="answerTimer"></div>
        </div>

        <div id="teacherFailNotice" style="display: none;">
            <div id="questionFailed">
                <div class="vstack gap-3">
                    <div class="no-data-container">
                        <img src="/static/img/fail.svg" class="mh-100 mb-3 w-50"/>
                        <span class="fs-1 text-white fw-bold">Question Failed!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"
            integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</div>