<div id="sound-grid" data-target="body" data-add="self">
	<h1>SOUND GRID!</h1>
	{{> player_list}}
	{{> vowel_grid}}
	<button id="startBtn">Start</button>
	{{> group_scores}}
	{{> player_scores}}
	{{> ffa_scores}}
</div>