<div id="sound-grid" data-target="body" data-add="self">
	<input type="hidden" value="{{roomID}}" id="roomIDVal"/>
	<div id="header">
		<div id="header-text">
			<h1>母音聞く練習 - Teacher</h1>
		</div>
		<button id="settingsBtn" class="icon-cog"></button>
	</div>

	<div id="teacherBar">
		<button id="startBtn" class="icon-play"></button>
        <button id="endBtn" class="icon-stop" disabled="true"></button>
		<button id="playerListBtn" class="icon-users"></button>
		<button id="leaderboardBtn" class="icon-award"></button>
		<button id="replayBtn" class="icon-volume-up"></button>
		<button id="skipBtn" class="icon-forward"></button>
	</div>

	{{> teacher_vowel_grid}}

	{{> leaderboard}}

	{{> player_list}}

	{{> settings}}

	{{> vowel_selector}}

    {{> word_list_editor}}


	<div id="popup">
		<div id="popupContent"></div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"
            integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</div>