<div id="sound-grid" data-target="body" data-add="self">
	<input type="hidden" value="{{roomID}}" id="roomIDVal"/>
	<div id="header">
		<div id="header-text">
			<h1>母音聞く練習 - Teacher</h1>
		</div>
		<button id="settingsBtn" class="icon-cog"></button>
	</div>

	<div id="teacherBar">
		<button id="startBtn" class="icon-play"></button>
		<button id="playerListBtn" class="icon-users"></button>
		<button id="leaderboardBtn" class="icon-award"></button>
		<button id="replayBtn" class="icon-cw"></button>
		<button id="skipBtn" class="icon-forward"></button>
	</div>

	{{> teacher_vowel_grid}}

	{{> leaderboard}}

	{{> player_list}}

	{{> settings}}

	{{> vowel_selector}}


	<div id="popup">
		<div id="popupContent"></div>
	</div>

</div>