<div id="header">
	<div id="header-text">
		<h1>母音聞く練習</h1>
	</div>
</div>

<div class="login-holder">
	<div id="content">
		<div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
</div>
<script>
	requirejs(["app/game"], function (game) {
	  game.init(true);
	});
</script>


