<div id="usernameForm" data-target="#content" data-add="self">
	<input type="hidden" value="{{roomID}}" id="roomIDVal"/>
	<div class="form-content">
		<div class="login-img"></div>
		<div style="flex: 1;">
			<p style="margin-top: 1.5rem;">Please enter a username</p>
			<input type="text" name="username" id="username" placeholder="ユーザー名" style="margin-bottom: 8px;">
			<p class="error-lbl">{{errorTxt}}</p>
		</div>
	</div>
	<input type="submit" id="submitUsername" value="OK">
</div>

<div id="header-text">
	<h1>母音聞く練習 - Username</h1>
</div>
