
.icon-award:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */