body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 60px 16px 16px 16px;
}

#header, #teacherBar {
    align-items: center;
    background-color: #003c8f;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    height: 60px;
    left: 0;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

#content {
    height: 100%;
}

#sound-grid {
    height: 100%;
}

#teacherBar {
    bottom: 0;
    justify-content: space-around;
    top: initial;
}

#header-text {
    display: flex;
    flex-direction: column;
}

#header-text h1 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
    order: 0;
}

#header-text h2 {
    font-size: 1.0rem;
    font-weight: bold;
    order: 1;
}

#header-text h2 + h1 {
    margin-top: 8px;
}

#header #leaderboardBtn, #settingsBtn {
    background: none;
    border: none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.8rem;
    outline: none !important;
    padding: 0.05em 0.15em;
    position: absolute;
    right: 11px;
}


#roomNameForm, #usernameForm, #groupSelectionForm, #roomOptionsForm {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#roomName {
    margin-bottom: 8px;
}

.form-content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}


#popupContent:not(.open) {
    height: 0;
    opacity: 0;
    transition: height .5s, opacity .5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28), cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.modal-popup:not(.open) {
    display: none;
}

.vowel-grid-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 92px);
    justify-content: space-evenly;
    padding: 0;
    position: relative;
    top: 15px;
}

#teacherBar + .vowel-grid-holder {
    height: calc(100% - 75px) !important;
}

.vowel-grid-holder button {
    background-color: #1565c0;
    border: none;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    color: white;
    flex: 1 1;
    flex-basis: calc(50% - 2rem);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    min-height: 45px;
    outline: none !important;
    position: relative;
}

.vowel-grid-holder button:after {
    align-items: center;
    background-color: transparent;
    color: white;
    content: '';
    display: flex;
    flex-direction: column;
    font-family: 'boinkikurenshuu';
    font-size: 3.9rem;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0.00;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 1.0s, background-color 1.0s, content 1.0s;
    width: 100%;
}

.vowel-grid-holder button.correct:after {
    background-color: #d50000 !important;
    content: '\f10c';
    opacity: 0.75;
}

.vowel-grid-holder button.incorrect:after {
    background-color: #003c8f !important;
    content: '\e801';
    font-size: 4.9rem !important;
    opacity: 0.75;
}

.vowel-grid-holder.locked button {
    background-color: #888888;
    pointer-events: none;
}

.modal-popup-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
    left: 16px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px 16px 16px 16px;
    position: fixed;
    top: 16px;
    width: calc(100vw - 32px);
    z-index: 55;
}

#vowelSelectorContent {
    overflow-y: hidden;
}

#popupContent {
    align-items: center;
    background-color: #003c8f;
    bottom: 0;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.23);
    color: white;
    display: flex;
    font-weight: bold;
    height: 3rem;
    justify-content: center;
    left: 0;
    margin: auto;
    opacity: 1.0;
    padding: 0;
    position: fixed;
    right: 0;
    transition: height .5s, opacity .5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28), cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: auto;
    z-index: 100;
}

.modal-black {
    background-color: black;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.modal-close-btn {
    background: none;
    border: none;
    color: #d50000;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.score-row, .player-row {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 36px;
}

.score-name, .player-name {
    flex: 1;
    align-items: center;
    display: flex;
}

.modal-popup-content h1 {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding-bottom: 8px;
    text-align: center;
}

.group-score-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}

.group-score-name {
    order: -999 !important;
}

#freeForAllScores, #groupScores, #playerScores {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.score-holder {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100% !important;
}

#teacherBar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    outline: none !important;
}

#endBtn {
    display: none;
}

#playerListContent .kick-btn {
    background-color: #d50000;
    border: none;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0 0.05rem 0.1875rem;
}

.player-row {
    margin-bottom: 1rem;
}

.player-row:last-of-type {
    margin-bottom: 0;
}

.login-holder {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 16px;
}

.logo {
    margin-bottom: 1rem;
    max-width: 80%;
}

#typeGroup:not(:checked) ~ .group-sub-options {
    display: none;
}

.group-sub-options {
    margin-top: 5px;
}

.group-btn-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.group-btn-holder > button {
    margin: 1rem;
}

.group-btn-holder button {
    background-color: #1565c0;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    min-width: 45px;
    outline: none !important;
    padding: 0.5rem 0.5rem 0.7rem 0.5rem;
}

.login-holder input[type="submit"] {
    background-color: #1565c0;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin: auto auto 0 auto;
    outline: none !important;
    padding: 0.5rem;
    width: 50%;
}

.login-img {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    /*flex: 0 0 70.752089136490250696378830083565vw;*/
    flex: 0 0 45%;
    overflow: hidden;
    width: 90vw;
}

#roomNameForm .login-img {
    background: url("../img/room.png");
}

#roomOptionsForm .login-img {
    background: url("../img/room_settings.png");
}

#groupSelectionForm .login-img {
    background: url('../img/group_selection.jpg');
}

#usernameForm .login-img {
    background: url('../img/username.png');
}

.scoreboard button {
    display: none !important;
}

#typeGroup, #typeIndividual {
    height: 4.375rem;
    left: 2.7rem;
    position: relative;
    top: 1.6rem;
    width: 4.375rem;
    z-index: -1;
}

input + .radio-label:after {
    align-items: center;
    background-color: #003c8f;
    border-radius: 200px;
    color: white;
    display: flex;
    font-family: 'boinkikurenshuu';
    font-size: 2rem;
    height: 4.375rem !important;
    justify-content: center;
    width: 4.375rem !important;
}

input#typeGroup + .radio-label:after {
    content: '\e805';
}

input#typeIndividual + .radio-label:after {
    content: '\e808';
}

input:checked + .radio-label:after {
    background-color: #1565c0;
}

.inner-form {
    position: relative;
    top: -1rem;
}

.login-holder .error-lbl {
    color: #d50000;
}

.radio-label {
    left: -2rem;
    position: relative;
}


.score-row .icon-crown {
    font-size: 1.4rem;
    position: relative;
    right: 0.25rem;
    top: 0.15rem;
}

.options-holder {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.options-holder > div {
    align-items: center;
    display: flex;
    height: 3.5rem;
}

.options-holder > div > label:first-child {
    flex: 1;
}

.btn-primary {
    background-color: #003c8f !important;
    border-color: #003c8f !important;
    color: #fff;
}


#vowelSelectorContent ul {
    font-size: 1.5rem;
    font-weight: bold;
}

#vowelSelectorContent ul li {
    display: flex;
    margin-left: -16px;
    margin-right: 16px;
    padding-left: 32px;
}

#vowelSelectorContent ul li label:first-child {
    flex: 1;
}

#vowelSelectorContent ul li label:last-child {
    margin-right: 16px;
}

#vowelSelectorContent ul li:first-child {
    border-top: 1px solid black;
    padding-top: 10px;
}


#podium {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    padding: 1rem;
    min-height: 100%;
}

.podium-box {
    align-items: center;
    background-color: #0c5460;
    display: flex;
    margin-bottom: 1rem;
    height: 9.375rem;
    transition: all 1s;
    width: 100%;
    border-radius: 0.5rem;
}

.podium-box.hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.podium-name {
    color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-align: center;
}

.place-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100% - 2rem);
    width: 9.375rem;
}

.p1 .place-img {
    background-image: url("../img/1_place.png");
}

.p2 .place-img {
    background-image: url("../img/2_place.png");
}

.p3 .place-img {
    background-image: url("../img/3_place.png");
}

.good-try {
    background-image: url("../img/good_try.png");
}

#student-podium {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#student-podium .place-img {
    height: 9.375rem;
}

.ranking {
    font-size: 4rem;
}

.no-data-container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100% !important;
}

.no-data {
    background-image: url("../img/no_scores.png");
    height: 9.375rem;
    width: 9.375rem;
}

.no-data-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.ffa .podium-name {
    align-self: flex-start;
    border-bottom: 1px solid white;
    flex: 0;
    font-size: 2rem;
    margin-right: 0;
    padding: 0.5rem 1rem;
    text-align: left;
    width: 100%;
}

.ffa .group-winner {
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#gameoverContent h1 {
    flex: 0;
    width: 100%;
}

.well {
    min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.modal-scroll-container {
    width: 100%;
    flex: 1;
    overflow: auto;
    height: 100%;
    padding: 0.5rem;
}


/* The switch - the box around the slider */
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

/* Hide default HTML checkbox */
.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

/* The slider */
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #003c8f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.lds-default {
    bottom: 0;
    display: inline-block;
    height: 64px;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 60px;
    width: 64px;
}

.lds-default div {
    animation: lds-default 1.2s linear infinite;
    background: #000;
    border-radius: 50%;
    height: 5px;
    position: absolute;
    width: 5px;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    left: 53px;
    top: 29px;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    left: 50px;
    top: 18px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    left: 41px;
    top: 9px;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    left: 29px;
    top: 6px;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    left: 18px;
    top: 9px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    left: 9px;
    top: 18px;
}

.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    left: 6px;
    top: 29px;
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    left: 9px;
    top: 41px;
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    left: 18px;
    top: 50px;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    left: 29px;
    top: 53px;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    left: 41px;
    top: 50px;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    left: 50px;
    top: 41px;
}

@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@media only screen and (min-width: 532px) {

    .modal-popup-content {
        left: 0;
        max-width: 500px;
        right: 0;
    }

    #popupContent {
        max-width: 700px;
    }

    html {
        background-color: #303030;
    }

    body {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 700px;
    }

    .login-img {
        flex: 0 0 23vw;
        max-width: 700px !important;
    }


    #header, #teacherBar {
        left: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        right: 0;
    }

}

@media only screen and (min-aspect-ratio: 13/9) {
    body {
        height: auto !important;
        overflow: auto !important;
    }

}


@media only screen and (min-width: 700px) {
    body {
        height: 100vh !important;
    }
}


::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.6);
    border-radius: 25px;
    border: 3px solid white;
}

::-webkit-scrollbar {
    width: 10px;
}
